<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/format.css" type="text/css">
    <title>Add a note</title>
</head>
<body>
    <div class="nav">
        <a href="/getkoefbyparams/">Получить рейтинг по параметрам</a>
        <a href="/getcurrentkoef/">Получить текущий рейтинг</a>
        <a href="/getmiddlespeed/">Получить среднюю скорость</a>
        <a href="/getqueue/">Получить среднюю длинну очереди</a>
        <a href="/setfixation/">Добавление фиксации</a>
        <a href="/fixations/">Фиксации</a>
        <a href="/roads/">Дороги</a>
    </div>
    <form action="/save/add" method="POST" class="txtform" onsubmit="return confirm( 'Вы ввели' +
     '\n номер маршрута: '+ this.nomer.value +
     '\n описание: '+ this.opisanie.value +
     '\n начальная остановка: '+ this.id_ostanovki_nachalo.options[this.id_ostanovki_nachalo.selectedIndex].text +
     '\n конечная остановка: '+ this.id_ostanovki_konec.options[this.id_ostanovki_konec.selectedIndex].text +
     '\n стоимость: '+ this.stoimost.value +
     '\n продожительность: '+ this.protyazhennost.value +
     '\n транспорт: '+ this.id_transporta.options[this.id_transporta.selectedIndex].text);">
        <label><p class="lbls">Номер маршрута</p></label>
        <input type="text" class="frm" name="nomer" id="nomer" placeholder="Enter the title of your article.." value="0" required pattern="^[0-9]\d{0,8}$">

        <label><p class="lbls">Описание</p></label>
        <input type="text" class="frm" name="opisanie" id="opisanie" value="описание" required pattern="^[А-Яа-яЁё0-9\s]+$">

        <label><p class="lbls">Начальная остановка</p></label>
        <div class="centernav">
            <select class="frm" id="id_ostanovki_nachalo" name="id_ostanovki_nachalo" required>
                {{range .Ostanovki }}<option value="{{ .Id}}">{{ .Opisanie}}</option>{{end}}

            </select>
        </div>
        <label><p class="lbls">Конечная остановка</p></label>
        <div class="centernav">
            <select class="frm" id="id_ostanovki_konec" name="id_ostanovki_konec" required>
                {{range .Ostanovki }}<option value="{{ .Id}}">{{ .Opisanie}}</option>{{end}}

            </select>
        </div>
        <label><p class="lbls">Стоимость маршрута</p></label>
        <input type="text" class="frm" name="stoimost" id="stoimost" placeholder="Enter the title of your article.." value="0" required pattern="^[0-9]\d{0,8}$">

        <label><p class="lbls">Протиженность маршрута</p></label>
        <input type="text" class="frm" name="protyazhennost" id="protyazhennost" placeholder="Enter the title of your article.." value="0" required pattern="^[0-9]\d{0,8}$">

        <label><p class="lbls">Транспорт</p></label>
        <div class="centernav">
            <select class="frm" id="id_transporta" name="id_transporta" required>
                {{range .Transport }}<option value="{{ .Id}}">Марка: {{ .Marka}} Пробег: {{ .Probeg}}</option>{{end}}
            </select>
        </div>
        <input type="submit" class="btn" value="Save"/>
        <br>
    </form>
</body>
</html>